<!DOCTYPE html>
<html>

<head>
    <title>Fitness-Zone</title>
    <link rel="stylesheet" href="/css/webcss.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header>
        <div class="menubar">

            {{> navbar}}

            {{#if msg}}
            <div class="menuright">
                <a href="#"><b class="fa fa-shopping-cart"></b></a>
                <a href="#"><b class="fa fa-user"></b></a>
                <a href="/logout">logout</a>
            </div>

            {{else}}
            <div class="menuright">
                <a href="/login"><b class="login">Login</b></a>
            </div>
            {{/if}}

        </div>
    </header>



    <div class="product_div">

        <div class="product-details">

            <div class="image">
                <img src="product/mini stepper.png">
            </div>

            <div class="details">
                <h2>Iron Gym Mini Stepper Machine</h2>
                <table>
                    <tr>
                        <th>Finishing</th>
                        <td>Paint Coated</td>
                    </tr>
                    <tr>
                        <th>Usage</th>
                        <td>Gym</td>
                    </tr>
                    <tr>
                        <th>Machine Weight</th>
                        <td>89 kg</td>
                    </tr>
                    <tr>
                        <th>Cushion Material</th>
                        <td>Pu Foam and Leather</td>
                    </tr>
                    <tr>
                        <th>Maximun User Weight</th>
                        <td>200kg</td>
                    </tr>
                </table>
                <br>
                <p style="font-size: larger;">Price:&nbsp;
                    &#8377;<del>3,000</del>&nbsp;<ins class="price">&#8377;2,800</ins>
                </p>
                <p style="font-size: larger;">Rating:&nbsp;
                    <span class="fa fa-star" style="color: red"></span>
                    <span class="fa fa-star" style="color: red"></span>
                    <span class="fa fa-star" style="color: red"></span>
                    <span class="fa fa-star" style="color: red"></span>
                    <span class="fa fa-star"></span>
                </p>
                <div class="button">
                    <button class="cart">Add to cart</button>
                    <button class="buy">Buy Now</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>